<div class="modal modal-signin fade" id="modal__signin">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="row">
        <div class="col-md-12">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <h3>Авторизация</h3>
          </div>
          <%= form_for(:user, html: {class: "form-horizontal"}, :url => session_path(:user)) do |f| %>
          <div class="modal-body">
              <%= f.label "Email" %>
              <%= f.text_field :email %>
              <%= f.label "Пароль" %>
              <%= f.password_field :password %>
              <%= f.check_box :remember_me %>
              <%= f.label "Запомнить меня" %>
          </div>
          <div class="modal-footer">
              <%= f.submit 'Войти', class: "btn btn-success" %>
              <%= link_to "Забыли пароль?", new_password_path(:user) %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
